/*
  COLOR PALLETTE:
  1. #93B7BE ~ blue;
  2. #F1FFFA ~ white;
  3. #D5C7BC ~ beige;
  4. #785964 ~ red matte;
  5. #454545 ~ dark gray;
*/



/* Global */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #FF004C;
}

/* Header */
header {
  display: inline-flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: static;
  height: 9vh;
  background-color: white;
}
nav {
  width: 60%;
  flex: 10;
}

#menu:hover {
  cursor: pointer;
}

#menu {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  padding-right: 10px;
}

nav li {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

nav ul{
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}

article {
  padding: 60px 20px;
  
}

footer {
  text-align: center;
  padding: 20px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

h1 {
  font-family: 'Titillium Web', cursive, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 10px 0 20px;
  flex: 6;
}

p {
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

h2, p {
  font-family: 'Baloo Thambi 2', cursive, serif;
  font-weight: 400;
}

.button {
  float: left;
  margin: 20px 0 0 0;
  padding: 10px;
  background-color: #FF004C;
  border-radius: 3px;
  box-shadow: 1px 1px 5px black;
  font-size: 1.5rem;
  text-shadow: none;
}

.current {
  color: #FF004C;
  pointer-events: none;
  cursor: default;
}

.showframe {
  display: none;
  float: right;
  width: 450px;
  padding: 60px 50px 0 0;
}

.showspacetext {
  padding: 30px 0 0 30px;
  display: inline-block;
  width: 40%;
  text-shadow: 1px 1px 3px black;
}

.showspacetext h2{
  font-size: 3rem;
}

.showspacetext p {
  font-size: 1.5rem;
}

#menuicon {
  cursor: pointer;
  width: 25px;
  padding: 0 2px 5px 0;
}

#showspace {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 1000px black, 5px 0 5px black;
  width: 100%;
  height: 90vh;
  color: white;
}

#profile {
  display: flex;
  justify-content: center;
}

#title {
  flex: 1;
}

#pic {
  flex: 1;
  width: 200px;
}

#profilepic {
  width: 200px;
  height: auto;
}

#footer  {
  letter-spacing: initial;
  font-size: 0.8rem;
  font-family: "Times New Roman", Times, serif;
}






@media only screen and (max-width: 640px){
  #showspace {
    height: auto;
  }
  #showspace h2 {
    padding-top: 100px;
  }
  .showframe {
    width: 80%;
    height: auto;
    padding: 30px 0;
  }
  body {
    min-width: 270px;
  }
  #menu {
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 2.2rem;
  }
  nav {
    
    width: 100%;
  }
  nav li {
    font-size: 1.2rem;
  }
}